* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    /* line-height: 1.3; */
    font-weight: bolder;
}

.one {
    padding: 32px;
    text-transform: uppercase;
    background-color: salmon;
    border: 4px solid blue;
    width: 600px;
    margin: 0.75rem auto;
    
}

.two {
    width: 650px;
    background-color: lightskyblue;
    border: 3px solid darkred;
    text-transform: uppercase;
    margin-left: 110px;
}

.three {
    width: 300px;
    padding: 2rem;
    background-color: goldenrod;
    border: 3px solid deeppink;
    text-transform: uppercase;
    margin-top: 48px;
    margin-left: 460px;
}
