* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    height: 4.5rem;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.596);
    position: relative;

    & h1 {
        padding: 1rem;
        background-color: darkmagenta;
        font-size: 2rem;
        color: white;
        text-transform: uppercase;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.582);
    }


}

.hero-container {
    display: flex;
    flex: 1;
    
    
    

    & .sidebar {
        display: flex;
        flex: 1 0 300px;
        
        

        min-height: 100vh;

        margin-top: 3px;
        width: 300px;
        background-color: cornflowerblue;
        padding: 1rem;
        font-size: 1.5rem;
        & .sidebar-links {
            display: flex;
            flex-grow: 1;
            flex-shrink: 0;

            & ul {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                list-style: none;

                & li a {
                    text-decoration: none;
                    color: white;
                    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.527);

                    transition: all 0.3s ease-in-out;

                    &:hover {
                        cursor: pointer;
                        color: bisque;
                    }
                }
            }
        }
    }

    & .hero-content {
        display: flex;
        flex-flow: row wrap;
        gap: 1.5rem;
        padding: 3rem;

        & .card {
            border: 1px solid rgba(128, 128, 128, 0.274);
            border-radius: 4px;
            width: 400px;
            height: 300px;
            padding: 1rem;
            box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.377);
            font-size: 1rem;
            line-height: 1.3;
        
        }
    }
}

footer {
    background-color: rgb(197, 197, 197);
    padding: 1rem;
    text-align: center;
    color: darkmagenta;
    font-weight: 600;
}


    