* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-bg-color: #1F2937;
    --secondary-bg-color: #E5E7EB;

    --btn-bg-color: #3882F6;

    --font-md: 400 1.125rem/1.3 'Montserrat', sans-serif;
    --font-lg: 400 2.25rem/1.3 'Montserrat', sans-serif;
    --font-xl: 900 3rem/1.3 'Montserrat', sans-serif;
}

body {
    height: 100vh;
    max-width: 1460px;
    margin: auto;
}

.flex {
    display: flex;
}

.gap-1 {
    gap: 1rem;
}