* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-bg-color: #1F2937;
    --secondary-bg-color: #E5E7EB;

    --btn-bg-color: #3882F6;

    --font-md: 400 1.125rem/1.3 'Montserrat', sans-serif;
    --font-lg: 700 2.25rem/1.3 'Montserrat', sans-serif;
    --font-xl: 900 3rem/1.3 'Montserrat', sans-serif;

    --shadow-s:
    inset 0 1px 2px #FFFFFF30,
    0 1px 2px #00000030,
    0 2px 4px #00000015;

    --shadow-m:
    inset 0 1px 2px #FFFFFF50,
    0 2px 4px #00000030,
    0 4px 8px #00000015;

    --shadow-l:
    inset 0 1px 2px #FFFFFF70,
    0 4px 6px #00000030,
    0 6px 10px #00000015;
}

body {
    background-color: #000000b4;
    height: 100vh;
    max-width: 1460px;
    margin: auto;
}

main {
    background-color: #f9faf8;
}

.flex {
    display: flex;
}

.gap-1 {
    gap: 1rem;
}