.head-container {
    display: flex;
    
    background-color: var(--primary-bg-color);
    min-width: 1280px;

    & .logo-img {
        padding-block: 1rem;
        padding-inline: 12.5rem;
        width: 100%;

        & #hero-logo {
            display: inline-block;
            width: 2.5rem;
            
            transition: transform 0.3s ease-in-out;

            &:hover {
                cursor: pointer;
                transform: rotate(-90deg);
                
            }
        }
    }

    & .head-links {
        display: flex;
        justify-content: flex-end;

        padding-block: 1rem;
        padding-inline: 12.5rem;
        margin-top: auto;
        margin-bottom: auto;

        & .list-links {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 3rem;

            list-style: none;
            width: 300px;
            height: 2rem;
            
            & li {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
 
            }
            & li a {
                color: white;
                text-decoration: none;
                font: var(--font-md);
                text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.459);
                
                transition: transform 300ms ease-in-out;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.2);
                    
                }
            }

        }
    }

}

