.hero-container {
    display: flex;
    background-color: var(--primary-bg-color);
    padding-inline: 12.5rem;
    
    
    & .top-content {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        background-color: var(--primary-bg-color);
        /* padding-inline: 2rem; */
        /* padding-block: 9.375rem; */

        & h1 {
            font: var(--font-xl);
            color: #f9faf8;
            text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.678);
        }

        & p {
            font: var(--font-md);
            color: var(--secondary-bg-color)
        }

        & .btn-box {
            
            & button {
                height: 2.5rem;
                letter-spacing: 2px;
                text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.411);
                padding: 8px 28px;
                border-radius: 10px;
                color: white;
                background-color: var(--btn-bg-color);
                border: none;
            }
        }

    }

    & .hero-img-box {
        display: flex;
        justify-content: flex-end;
        background-color: var(--primary-bg-color);
        width: 100%;
        

        & img {
            width: 500px;
        }
    }

    
}