.top-section {
    display: flex;
    background-color: var(--primary-bg-color);
    padding-inline: 12.5rem;
    padding-block: 5rem;
    height: 500px;
    
    
    & .top-content {
        display: flex;
        flex-direction: column;
        gap: 1.725rem;
        
        background-color: var(--primary-bg-color);
        /* padding-inline: 2rem; */
        /* padding-block: 9.375rem; */

        & h1 {
            font: var(--font-xl);
            color: #f9faf8;
            text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.678);
        }

        & p {
            font: var(--font-md);
            color: var(--secondary-bg-color);
            margin-top: 8px
        }

        & .btn-box {
            
            & button {
                height: 2.5rem;
                letter-spacing: 2px;
                text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.411);
                padding: 8px 28px;
                border-radius: 10px;
                color: white;
                background-color: var(--btn-bg-color);
                border: none;
                box-shadow: var(--shadow-l);
                margin-top: 4px;

                transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;

                &:hover {
                    background-color: #0d64f0;
                    transform: scale(1.1);
                    cursor: pointer;
                }
            }
        }

    }

    & .hero-img-box {
        display: flex;
        justify-content: flex-end;
        background-color: var(--primary-bg-color);
        width: 100%;
        height: 300px;
        box-shadow: var(--shadow-l);
        border-radius: 4px;
        overflow: hidden;

        
        
        

        & img {
            width: 500px;
            
            transition: transform 0.3s ease-in-out;

            &:hover {
                transform: scale(1.2);
            }
        }
    }

    
}

.middle-section-01 {
    
    & h2 {
        margin-top: 2rem;
        font: var(--font-lg);
        text-align: center;
        text-shadow: 0 1px 2px #cccccc;
    }
    & .mid-section-content {
        display: flex;
        justify-content: center;
        gap: 2rem;

        margin-top: 2rem;
        & .second-title {
            display: block;
            width: 100%;
            font: var(--font-lg);
            text-align: center;
        }
        & .card {
            padding: 0.75rem;
            width: 250px;
            height: 480px;
            border: 4px solid var(--secondary-bg-color);
            border-radius: 8px;
            overflow: hidden;
            box-shadow: var(--shadow-l);
            

            & p {
                padding-inline: 4px;
                padding-block: 4px;
                background-color: rgba(211, 211, 211, 0.493);
                border-radius: 8px;
                text-indent: 8px;
                text-align: justify;
                
                font: 1.125rem/1.3 'Roboto', sans-serif;
                margin-top: 1.5rem;
            }
            & img {
                width: 220px;
                border-radius: 8px;
                object-fit: cover;
                box-shadow: var(--shadow-s);

                transition: transform 0.2s ease-in-out;
                
                &:hover {
                    transform: scale(1.2);
                    box-shadow: var(--shadow-m);
                }
            }

            & #img-02, #img-03 {
                height: 220px;
            }
        }
    }
}

/* ------------ MIDDLE SECTION 02 ------------ */

.middle-section-02 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 12.5rem;
    margin-top: 5rem;

    height: 400px;
    background-color: var(--secondary-bg-color);

    & p {
        font: 300 2.25rem/1.3 'Roboto', sans-serif;
        color: #1F2937;
        text-align: left;

        & span {
            font: var(--font-md);
            color: #464646;
        }
    }
    
    & p:last-child {
        font: 600 2.25rem/1.3 'Montserrat', sans-serif;
    }

    
}


/* ------------ CALL TO ACTION ------------ */

.cta-section {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    height: 300px;
    width: 100%;
    padding: 12.5rem;

    & .cta-container {
        display: flex;
        justify-content: space-around;
        align-items: center;
        
        height: 150px;
        width: 100%;
        background-color: var(--btn-bg-color);
        color: #f9faf8;
        border-radius: 0.85rem;
        box-shadow: var(--shadow-m);

        & .cta-content {

            & h2 {
                font: 500 2.25rem/1.3 'Montserrat', sans-serif;
                text-shadow: var(--shadow-l);
            }
            & p {
                font: 300 1.25rem/1.3 'Roboto', sans-serif;
                text-shadow: var(--shadow-l);
            }
        }

        & .cta-btn-box {
            
            & button {
                background-color: var(--btn-bg-color);
                padding: 0.45rem 2rem;
                font-size: 1.3rem;
                border-radius: 8px;
                box-shadow: var(--shadow-m);
                border: 2px solid #f9faf8;
                color: #f9faf8;

                transition: all 0.2s ease-in-out;

                &:hover {
                    background-color: #0d64f0;
                    cursor: pointer;
                    box-shadow: var(--shadow-l);
                }
            }
        }
        
    }
}